.Topic-menu {
  text-align: center;
  padding: 6px;
}

.Topic-item {
  padding: 4px;
}

.Topic-menu-item {
  cursor: pointer;
  margin: 4px;
  background-color: #D0D0D0;
}

.Topic-menu-item-selected {
  cursor: pointer;
  margin: 4px;
}
