[Unit]
Description=data-stream app

[Service]
User=root
WorkingDirectory=/opt/data_stream/
ExecStart=/usr/bin/node /opt/data_stream/index.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
